<section>
    <div class="test">
      <img src="img/background.jpg" alt="image de fond" class="container">
    </div>
    <a href="/logout">Déconnexion</a>
    <article class="listGameUser">
      <ul>
        <% for(let i = 0; i < listGame.length; i++) { %>
        <li>
          <a class="pseudo" href ="/user/<%=listGame[i].id %>"><%= listGame[i].pseudo %></a>
          <a class="game-name" href="/game/<%=listGame[i].id %>"><%= listGame[i].name %></a>
          <span class="game-type"><%= listGame[i].game_type %></span>
        </li>
        <% } %>
      </ul>
      <a href="/createGame">Nouvelle partie</a>
    </article>
    <span class="hidden"></span>
    <button type="submit" class="js-remove-user" data-id="<%= locals.userId %>">Supprimer son compte</button>
  </section>
  